

<!-- <p-selectButton [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-selectButton> -->
<div class="card">
    <div class="card-header">Last Year Info</div>
    <div class="card-body">
        Error 'youtube.com refused to connect' on In-App Prompt
Publish Date: Jan 4, 2021
Description
A video does not play on the In-App Prompt. Navigate to In-App Guidance under your Setup. Click edit on the affected prompt. Navigate to content and check the video URL if the attached is an embedded code or the watch URL :
Sample of Watch URL: https://www.youtube.com/watch?v=XXXXXXXXXXXX
Sample of Embedded code: https://www.youtube.com/embed/XXXXXXXXXXX
Resolution
The link must be in embedded code. Steps on how to get the embbeded code:
Go to the video source site (e.g. https://www.youtube.com)
Select the video and click 'Share'
Click embed
It will provide the whole script to attach the frame, copy only the 'src' value (e.g. https://www.youtube.com/embed/XXXXXXXXXXXX)
Use the Embed Link on the In-App Prompt instead of the watch link. 

 
Knowledge Article Number
000353996

DID THIS ARTICLE SOLVE YOUR ISSUE?
Let us know so we can improve!
    </div>
</div>
